<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fafu.dormitorymanage.dao.ManagerMapper" >
  <resultMap id="BaseResultMap" type="com.fafu.dormitorymanage.pojo.Manager" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="managed_domitory_id" property="managedDomitoryId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account,name, password, managed_domitory_id as managedDomitoryId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from manager
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from manager
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fafu.dormitorymanage.pojo.Manager" >
    insert into manager (id, account, password, 
      managed_domitory_id)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{managed_domitory_id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fafu.dormitorymanage.pojo.Manager" >
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="managed_domitory_id != null" >
        managed_domitory_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="managed_domitory_id != null" >
        #{managed_domitory_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fafu.dormitorymanage.pojo.Manager" >
    update manager
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="managed_domitory_id != null" >
        managed_domitory_id = #{managed_domitory_id,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fafu.dormitorymanage.pojo.Manager" >
    update manager
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      managed_domitory_id = #{managed_domitory_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getManager" resultMap="BaseResultMap" parameterType="com.fafu.dormitorymanage.pojo.Manager">
    select
     <include refid="Base_Column_List"/>
     from manager where account = #{account} and password = #{password};
  </select>
</mapper>